@model List<MusicLibrary.Data.DTO.SongDTO>

@{
	ViewData["Title"] = "Music World";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div>
	<span style="font-size:24px;">Add a new song </span>
	<a asp-action="Create">
		<i style="font-size:20px;color:purple" class="bi bi-cloud-plus-fill"></i>
	</a>
</div>
<br />
@{
	if (ViewBag.Message != null)
	{
		<div id="success-alert" class="alert alert-success" role="alert">
			@ViewBag.Message.ToString()
		</div>
	};
	<br />
}
<div class="container">
	<div class="row justify-content-center">
		<div class="col">
			<table class="table table-striped text-center table-hover table-responsive text-center">
				<thead class="bg-light sticky-top">
					<tr>
						<th>
							<a asp-action="Sort" asp-route-sortOrder="@ViewData["TitleSortParm"]">@Html.DisplayName("Title")</a>
						</th>
						<th>
							<a asp-action="Sort" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayName("ReleaseDate")</a>
						</th>
						<th>
							<a asp-action="Sort" asp-route-sortOrder="@ViewData["ArtistSortParm"]">@Html.DisplayName("Artist")</a>
						</th>
						<th>
							<a asp-action="Sort" asp-route-sortOrder="@ViewData["GenreSortParm"]">@Html.DisplayName("Genre")</a>
						</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Title)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.ReleaseDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Artist.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Genre.Name)
							</td>
							<td>
								<audio controls preload="none" >
									<source src='@Url.Action("GetAudioStream","Songs", new {id = item.Id})' type="audio/mpeg" />
								</audio>
							</td>
							<td>
								<input type="hidden" dirname="FileName" id="FileName" value="@item.FileName" />
							</td>
							<td>
								<a asp-action="Edit" asp-route-id="@item.Id" class="text-decoration-none" data-toggle="tooltip" title="Edit a song">
									<i style="color:limegreen;" class="bi bi-pencil"></i>
								</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<a asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none" data-toggle="tooltip" title="A song details">
									<i style="color:darkblue;" class="bi bi-info-circle"></i>
								</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<a asp-action="Delete" asp-route-id="@item.Id" class="text-decoration-none" data-toggle="tooltip" title="Remove a song">
									<i style="color:red;" class="bi bi-trash"></i>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	function hideAlert() {
				const alertElement = document.getElementById('success-alert');
				if (alertElement) {
					setTimeout(() => {
						alertElement.style.display = 'none';
					}, 2000); // 5000 milliseconds = 5 seconds
				}
			}
			// Call the function to hide the alert
			hideAlert();
</script>